.mediaViewInfo {
	--web-view-name: Searchpage ;
	--web-view-id: Searchpage_;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Searchpage_;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}
.Searchpage__Class {
	/* position: absolute; */
	/* transform: translateX(-50%); */
	/* left: 10%; */
	/* margin: 0px auto; */
	/* width: 100%; */
	/* height: 100%; */
	background-color: rgba(255,255,255,1);
	overflow-y: scroll;
	--web-view-name: Searchpage;
	--web-view-id: Searchpage_;
	--web-center-horizontally: true;
	--web-enable-deep-linking: true;
}
@keyframes fadein {

	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}

}
@keyframes  {


}
.Group_350_Class {
	position: absolute;
	width: 475px;
	height: 475px;
	left: 960px;
	top: 315px;
	overflow: visible;
}
.Group_329_Class {
	position: absolute;
	width: 475px;
	height: 475px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.IMG_1135_Class {
	position: absolute;
	width: 475px;
	height: 475px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1092_Class {
	opacity: 0.75;
}
.Rectangle_1092 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 493px;
	height: 71px;
	left: 0px;
	top: 423px;
}
.Accessories_Class {
	position: absolute;
	left: 178px;
	top: 434px;
	overflow: visible;
	width: 121px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(79,77,77,1);
}
.Group_346_Class {
	position: absolute;
	width: 547.5px;
	height: 684px;
	left: 378.5px;
	top: 295px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Description.html;
	cursor: pointer;
}
.Group_332_Class {
	position: absolute;
	width: 547.5px;
	height: 684px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.IMG_1084_Class {
	position: absolute;
	width: 546.71px;
	height: 683.429px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1095_Class {
	opacity: 0.75;
}
.Rectangle_1095 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 565px;
	height: 70px;
	left: 0.5px;
	top: 633px;
}
.Beddings_Class {
	position: absolute;
	left: 235.5px;
	top: 642px;
	overflow: visible;
	width: 98px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(79,77,77,1);
}
.Group_354_Class {
	position: absolute;
	width: 599px;
	height: 748px;
	left: 330px;
	top: 2674px;
	overflow: visible;
}
.Group_332__Class {
	position: absolute;
	width: 599px;
	height: 748px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.IMG_1056_Class {
	position: absolute;
	width: 598.1px;
	height: 747.67px;
	left: 0.036px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1095__Class {
	opacity: 0.75;
}
.Rectangle_1095_ {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 617px;
	height: 76px;
	left: 0px;
	top: 691px;
}
.Group_349_Class {
	position: absolute;
	width: 562.5px;
	height: 562.5px;
	left: 960px;
	top: 836.5px;
	overflow: visible;
}
.Group_334_Class {
	position: absolute;
	width: 562.5px;
	height: 562.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.IMG_1946_Class {
	position: absolute;
	width: 562.5px;
	height: 562.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1097_Class {
	opacity: 0.75;
}
.Rectangle_1097 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 580px;
	height: 61px;
	left: 0.5px;
	top: 520.5px;
}
.Memory_frames_Class {
	position: absolute;
	left: 198.5px;
	top: 526.5px;
	overflow: visible;
	width: 167px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(79,77,77,1);
}
.Group_348_Class {
	position: absolute;
	width: 482px;
	height: 482.5px;
	left: 444px;
	top: 1027.5px;
	overflow: visible;
}
.Group_335_Class {
	position: absolute;
	width: 482px;
	height: 482.5px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.IMG_2490_Class {
	position: absolute;
	width: 482px;
	height: 482px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1098_Class {
	opacity: 0.75;
}
.Rectangle_1098 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 500px;
	height: 61px;
	left: 0px;
	top: 440.5px;
}
.Jewellery_Class {
	position: absolute;
	left: 193px;
	top: 446.5px;
	overflow: visible;
	width: 97px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(79,77,77,1);
}
.Group_347_Class {
	position: absolute;
	width: 637.403px;
	height: 954.771px;
	left: 960px;
	top: 2037.5px;
	overflow: visible;
}
.Group_333_Class {
	position: absolute;
	width: 637.403px;
	height: 954.771px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.ID146A2068_Class {
	position: absolute;
	width: 633.403px;
	height: 950.104px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1096_Class {
	opacity: 0.75;
}
.Rectangle_1096 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 655.403px;
	height: 81.673px;
	left: 0px;
	top: 892.098px;
}
.Garments_Class {
	position: absolute;
	left: 266.694px;
	top: 908.117px;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(79,77,77,1);
}
.Group_351_Class {
	position: absolute;
	width: 564px;
	height: 563px;
	left: 362px;
	top: 1559px;
	overflow: visible;
}
.IMG_0937_Class {
	position: absolute;
	width: 562px;
	height: 562px;
	left: 2px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1093_Class {
	opacity: 0.75;
}
.Rectangle_1093 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 582px;
	height: 79px;
	left: 0px;
	top: 503px;
}
.Wraps___Blankets_Class {
	position: absolute;
	left: 179.767px;
	top: 517.227px;
	overflow: visible;
	width: 177px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(79,77,77,1);
}
.Group_352_Class {
	position: absolute;
	width: 456.256px;
	height: 454.92px;
	left: 469.521px;
	top: 2171px;
	overflow: visible;
}
.Group_331_Class {
	position: absolute;
	width: 456.256px;
	height: 454.92px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.IMG_0995_Class {
	position: absolute;
	width: 454.92px;
	height: 454.92px;
	left: 1.336px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1094_Class {
	opacity: 0.75;
}
.Rectangle_1094 {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 474.256px;
	height: 67.765px;
	left: 0px;
	top: 406.155px;
}
.Cots_Class {
	position: absolute;
	left: 206.596px;
	top: 412.688px;
	overflow: visible;
	width: 47px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(79,77,77,1);
}
.Group_353_Class {
	position: absolute;
	width: 545px;
	height: 544px;
	left: 960px;
	top: 1446px;
	overflow: visible;
}
.Group_331_bx_Class {
	position: absolute;
	width: 545px;
	height: 544px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.IMG_20190220_WA0019_Class {
	position: absolute;
	width: 543px;
	height: 544px;
	left: 2px;
	top: 0px;
	overflow: visible;
}
.Rectangle_1094_bz_Class {
	opacity: 0.75;
}
.Rectangle_1094_bz {
	filter: drop-shadow(0px 10px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 563px;
	height: 77px;
	left: 0px;
	top: 486px;
}
.Portraits_Class {
	position: absolute;
	left: 223.553px;
	top: 498.706px;
	overflow: visible;
	width: 90px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(79,77,77,1);
}
.Path_201_b {
	display: none;
	overflow: visible;
	position: absolute;
	width: 1922.068px;
	height: 596.595px;
	left: -0.006px;
	top: 484.811px;
	transform: matrix(1,0,0,1,0,0);
}
.THEBABYTRUNK_COM_Class {
	transform: matrix(1,0,0,1,-27.5,866.5) rotate(-90deg);
	transform-origin: center;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 204px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: normal;
	font-size: 21px;
	color: rgba(112,112,112,1);
}
.Component_Class {
	position: absolute;
	width: 70.06px;
	height: 586.944px;
	left: 1559.94px;
	top: 317.828px;
	overflow: visible;
}
.Shopping_kart_Class {
	position: absolute;
	width: 69.913px;
	height: 66.732px;
	left: 0px;
	top: 133.305px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Shopping_cart.html;
	cursor: pointer;
}
.Group_50_Class {
	position: absolute;
	width: 69.913px;
	height: 66.732px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Group_42_Class {
	position: absolute;
	width: 10.553px;
	height: 10.602px;
	left: 59.36px;
	top: 42.92px;
	overflow: visible;
}
.Path_139 {
	overflow: visible;
	position: absolute;
	width: 8.562px;
	height: 8.609px;
	left: 0.996px;
	top: 0.997px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_140 {
	overflow: visible;
	position: absolute;
	width: 10.553px;
	height: 10.602px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_141 {
	overflow: visible;
	position: absolute;
	width: 1.984px;
	height: 2.707px;
	left: 63.045px;
	top: 47.405px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_43_Class {
	position: absolute;
	width: 21.693px;
	height: 34.759px;
	left: 20.358px;
	top: 0px;
	overflow: visible;
}
.Path_142 {
	overflow: visible;
	position: absolute;
	width: 17.704px;
	height: 30.773px;
	left: 1.994px;
	top: 1.993px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_143 {
	overflow: visible;
	position: absolute;
	width: 21.693px;
	height: 34.759px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_44_Class {
	position: absolute;
	width: 68.123px;
	height: 45.606px;
	left: 0px;
	top: 12.632px;
	overflow: visible;
}
.Path_144 {
	overflow: visible;
	position: absolute;
	width: 64.134px;
	height: 41.62px;
	left: 1.994px;
	top: 1.992px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_145 {
	overflow: visible;
	position: absolute;
	width: 68.123px;
	height: 45.606px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_45_Class {
	position: absolute;
	width: 13.311px;
	height: 13.43px;
	left: 18.328px;
	top: 52.214px;
	overflow: visible;
}
.Ellipse_9 {
	width: 10.252px;
	height: 10.457px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,1.5295,1.4861) rotate(-20.929deg);
	transform-origin: center;
}
.Path_146 {
	overflow: visible;
	position: absolute;
	width: 12.275px;
	height: 12.425px;
	left: 0.52px;
	top: 0.502px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_147 {
	overflow: visible;
	position: absolute;
	width: 2.362px;
	height: 3.223px;
	left: 22.563px;
	top: 57.895px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_46_Class {
	position: absolute;
	width: 13.311px;
	height: 13.43px;
	left: 39.836px;
	top: 53.302px;
	overflow: visible;
}
.Ellipse_10 {
	width: 10.252px;
	height: 10.457px;
	position: absolute;
	overflow: visible;
	transform: translate(0px, 0px) matrix(1,0,0,1,1.5295,1.4861) rotate(-20.929deg);
	transform-origin: center;
}
.Path_148 {
	overflow: visible;
	position: absolute;
	width: 12.275px;
	height: 12.428px;
	left: 0.517px;
	top: 0.499px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_149 {
	overflow: visible;
	position: absolute;
	width: 2.362px;
	height: 3.222px;
	left: 44.508px;
	top: 58.983px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_49_Class {
	position: absolute;
	width: 55.686px;
	height: 37.69px;
	left: 11.05px;
	top: 10.852px;
	overflow: visible;
}
.Group_47_Class {
	position: absolute;
	width: 53.693px;
	height: 35.697px;
	left: 0.997px;
	top: 0.996px;
	overflow: visible;
}
.Path_150 {
	overflow: visible;
	position: absolute;
	width: 37.517px;
	height: 35.481px;
	left: 16.176px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_151 {
	overflow: visible;
	position: absolute;
	width: 32.073px;
	height: 12.762px;
	left: 19.715px;
	top: 5.413px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_152 {
	overflow: visible;
	position: absolute;
	width: 42.125px;
	height: 22.234px;
	left: 0px;
	top: 13.463px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_153 {
	overflow: visible;
	position: absolute;
	width: 30.29px;
	height: 7.287px;
	left: 0px;
	top: 9.736px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_154 {
	overflow: visible;
	position: absolute;
	width: 27.641px;
	height: 13.463px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_48_Class {
	position: absolute;
	width: 55.686px;
	height: 37.69px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_155 {
	overflow: visible;
	position: absolute;
	width: 55.686px;
	height: 37.69px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_156 {
	overflow: visible;
	position: absolute;
	width: 4.011px;
	height: 19.245px;
	left: 34.76px;
	top: 18.177px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_157 {
	overflow: visible;
	position: absolute;
	width: 8.182px;
	height: 19.016px;
	left: 20.656px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Magnifying_glass_Class {
	position: absolute;
	width: 69.915px;
	height: 71.519px;
	left: 0.145px;
	top: 0px;
	overflow: visible;
}
.zoomout {
	overflow: visible;
	position: absolute;
	width: 71.415px;
	height: 73.019px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_158 {
	overflow: visible;
	position: absolute;
	width: 5.517px;
	height: 20.853px;
	transform: translate(0px, 0px) matrix(1,0,0,1,10.6742,18.428) rotate(-26deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.location {
	overflow: visible;
	position: absolute;
	width: 51.166px;
	height: 82.283px;
	left: 10.474px;
	top: 261.745px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.5s ease-in-out;
	--web-action-type: page;
	--web-action-target: Map.html;
	cursor: pointer;
}
.anchor {
	overflow: visible;
	position: absolute;
	width: 62.065px;
	height: 67.732px;
	left: 4.192px;
	top: 403.802px;
	transform: matrix(1,0,0,1,0,0);
	--web-animation: fadein 0.5s ease-in-out;
	--web-action-type: page;
	--web-action-target: About_us_page.html;
	cursor: pointer;
}
.Mail_Class {
	position: absolute;
	width: 64.966px;
	height: 54.524px;
	left: 2.463px;
	top: 532.42px;
	overflow: visible;
	--web-animation: fadein 0.5s ease-in-out;
	--web-action-type: page;
	--web-action-target: Subscription_page.html;
	cursor: pointer;
}
.Group_55_Class {
	position: absolute;
	width: 64.966px;
	height: 41.983px;
	left: 0px;
	top: 12.541px;
	overflow: visible;
}
.Group_53_Class {
	position: absolute;
	width: 63.329px;
	height: 40.352px;
	left: 0.821px;
	top: 0.816px;
	overflow: visible;
}
.Path_162 {
	overflow: visible;
	position: absolute;
	width: 13.198px;
	height: 4.938px;
	left: 49.39px;
	top: 13.46px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_163 {
	overflow: visible;
	position: absolute;
	width: 6.912px;
	height: 4.321px;
	left: 15.816px;
	top: 14.047px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_164 {
	overflow: visible;
	position: absolute;
	width: 47.814px;
	height: 11.824px;
	left: 15.515px;
	top: 18.395px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_165 {
	overflow: visible;
	position: absolute;
	width: 23.929px;
	height: 12.879px;
	left: 14.291px;
	top: 27.473px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_166 {
	overflow: visible;
	position: absolute;
	width: 6.051px;
	height: 4.392px;
	left: 16.517px;
	top: 10.195px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_167 {
	overflow: visible;
	position: absolute;
	width: 62.012px;
	height: 11.755px;
	left: 0px;
	top: 18.361px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_168 {
	overflow: visible;
	position: absolute;
	width: 21.552px;
	height: 13.795px;
	left: 27.483px;
	top: 0.711px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_169 {
	overflow: visible;
	position: absolute;
	width: 4.583px;
	height: 5.632px;
	left: 21.944px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_170 {
	overflow: visible;
	position: absolute;
	width: 7.228px;
	height: 4.274px;
	left: 21.944px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_171 {
	overflow: visible;
	position: absolute;
	width: 27.395px;
	height: 14.113px;
	left: 22.186px;
	top: 4.274px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_172 {
	overflow: visible;
	position: absolute;
	width: 22.36px;
	height: 11.636px;
	left: 26.527px;
	top: 0.191px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_54_Class {
	position: absolute;
	width: 64.966px;
	height: 41.983px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_173 {
	overflow: visible;
	position: absolute;
	width: 64.222px;
	height: 13.387px;
	left: 0px;
	top: 18.36px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_174 {
	overflow: visible;
	position: absolute;
	width: 8.036px;
	height: 9.571px;
	left: 15.821px;
	top: 10.201px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_175 {
	overflow: visible;
	position: absolute;
	width: 50.671px;
	height: 28.525px;
	left: 14.295px;
	top: 13.459px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_176 {
	overflow: visible;
	position: absolute;
	width: 29.27px;
	height: 19.983px;
	left: 21.949px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_177 {
	overflow: visible;
	position: absolute;
	width: 28.576px;
	height: 13.459px;
	left: 21.949px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_58_Class {
	position: absolute;
	width: 17.473px;
	height: 17.473px;
	left: 12.359px;
	top: 0px;
	overflow: visible;
}
.Group_56_Class {
	position: absolute;
	width: 17.473px;
	height: 17.473px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Ellipse_11 {
	position: absolute;
	overflow: visible;
	width: 15.84px;
	height: 15.84px;
	left: 0.816px;
	top: 0.816px;
}
.Path_178 {
	overflow: visible;
	position: absolute;
	width: 17.473px;
	height: 17.473px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_57_Class {
	position: absolute;
	width: 3.602px;
	height: 7.204px;
	left: 6.511px;
	top: 5.154px;
	overflow: visible;
}
.Path_179 {
	overflow: visible;
	position: absolute;
	width: 3.602px;
	height: 7.204px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.image {
	overflow: visible;
	position: absolute;
	width: 26px;
	height: 28px;
	left: -322px;
	top: 458.001px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_1076 {
	position: absolute;
	overflow: visible;
	width: 1410px;
	height: 315px;
	left: 147px;
	top: 0px;
}
.Logo_thebabytrunkc2c_Class {
	position: absolute;
	width: 249px;
	height: 166px;
	left: 836px;
	top: 0px;
	overflow: visible;
}
.Search_Bar_Class {
	position: absolute;
	width: 906.9px;
	height: 50px;
	left: 535.6px;
	top: 192px;
	overflow: visible;
}
.Search_Class {
	position: absolute;
	width: 906.9px;
	height: 50px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Rectangle_691 {
	position: absolute;
	overflow: visible;
	width: 906.9px;
	height: 50px;
	left: 0px;
	top: 0px;
}
.Rectangle_692 {
	filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 68px;
	height: 68px;
	left: 856.9px;
	top: 0px;
}
.Symbol_209___1_Class {
	position: absolute;
	width: 16px;
	height: 16px;
	left: 873.9px;
	top: 17px;
	overflow: visible;
}
.Rectangle_693 {
	position: absolute;
	overflow: visible;
	width: 16px;
	height: 16px;
	left: 0px;
	top: 0px;
}
.Path_208 {
	overflow: visible;
	position: absolute;
	width: 15.9px;
	height: 15.9px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Search_for_products__catergori_Class {
	position: absolute;
	left: 8px;
	top: 17px;
	overflow: visible;
	width: 216px;
	white-space: nowrap;
	text-align: left;
	font-family: Arial;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	color: rgba(101,105,109,1);
}
.Separator_line_Class {
	position: absolute;
	width: 1117px;
	height: 1px;
	left: 361.5px;
	top: 268.5px;
	overflow: visible;
}
.Line_5 {
	overflow: visible;
	position: absolute;
	width: 1196px;
	height: 1px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Storage_Class {
	position: absolute;
	left: 589.694px;
	top: 3382.617px;
	overflow: visible;
	width: 81px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 23px;
	color: rgba(79,77,77,1);
}
.home_Class {
	opacity: 0.84;
	position: absolute;
	width: 50px;
	height: 50px;
	left: 85px;
	top: 290px;
	overflow: visible;
	--web-animation: fadein 0.3s ease-out;
	--web-action-type: page;
	--web-action-target: Home_page.html;
	cursor: pointer;
}
.home_ea {
	overflow: visible;
	position: absolute;
	width: 52px;
	height: 52.414px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Component_19___11_Class {
	position: absolute;
	width: 63px;
	height: 76.337px;
	left: 160px;
	top: 7188px;
	overflow: visible;
}
.Group_356_Class {
	position: absolute;
	width: 63px;
	height: 76.337px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.giftbox_Class {
	position: absolute;
	width: 63px;
	height: 62.957px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.giftbox_ee {
	overflow: visible;
	position: absolute;
	width: 63px;
	height: 62.958px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_9 {
	overflow: visible;
	position: absolute;
	width: 55.078px;
	height: 3px;
	left: 5.46px;
	top: 65.938px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_1395 {
	overflow: visible;
	position: absolute;
	width: 55.078px;
	height: 3px;
	left: 5.46px;
	top: 71.137px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_11 {
	overflow: visible;
	position: absolute;
	width: 55.078px;
	height: 3px;
	left: 5.46px;
	top: 76.337px;
	transform: matrix(1,0,0,1,0,0);
}
.Component_19___12_Class {
	position: absolute;
	width: 63px;
	height: 76.337px;
	left: 78px;
	top: 188px;
	overflow: visible;
}
.Group_356_ej_Class {
	position: absolute;
	width: 63px;
	height: 76.337px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.giftbox_ek_Class {
	position: absolute;
	width: 63px;
	height: 62.957px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.giftbox_el {
	overflow: visible;
	position: absolute;
	width: 63px;
	height: 62.957px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_9_em {
	overflow: visible;
	position: absolute;
	width: 55.078px;
	height: 3px;
	left: 5.46px;
	top: 65.937px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_1395_en {
	overflow: visible;
	position: absolute;
	width: 55.078px;
	height: 3px;
	left: 5.46px;
	top: 71.137px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_11_eo {
	overflow: visible;
	position: absolute;
	width: 55.078px;
	height: 3px;
	left: 5.46px;
	top: 76.337px;
	transform: matrix(1,0,0,1,0,0);
}
.Group_75_Class {
	position: absolute;
	width: 636px;
	height: 1081px;
	left: 1692px;
	top: 315px;
	overflow: visible;
}
.Rectangle_611 {
	position: absolute;
	overflow: visible;
	width: 636px;
	height: 1081px;
	left: 0px;
	top: 0px;
}
.Artboard_2_8_Class {
	position: absolute;
	width: 232px;
	height: 232px;
	left: 109px;
	top: 50px;
	overflow: visible;
}
.Menu_bar_content_Class {
	position: absolute;
	width: 258.5px;
	height: 241.5px;
	left: 96px;
	top: 388px;
	overflow: visible;
}
.PRODUCTS_Class {
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(131,131,131,1);
}
.GALLERY_Class {
	position: absolute;
	left: 0px;
	top: 62px;
	overflow: visible;
	width: 102px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(131,131,131,1);
}
.LOCATE_US_Class {
	position: absolute;
	left: 0px;
	top: 130px;
	overflow: visible;
	width: 125px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(131,131,131,1);
}
.SUBSCRIBE_Class {
	position: absolute;
	left: 4px;
	top: 190px;
	overflow: visible;
	width: 127px;
	white-space: nowrap;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 24px;
	color: rgba(131,131,131,1);
}
.Line_1 {
	overflow: visible;
	position: absolute;
	width: 256px;
	height: 1px;
	left: 0.5px;
	top: 51.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_2 {
	overflow: visible;
	position: absolute;
	width: 256px;
	height: 1px;
	left: 0.5px;
	top: 113.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_3 {
	overflow: visible;
	position: absolute;
	width: 256px;
	height: 1px;
	left: 0.5px;
	top: 181.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Line_4 {
	overflow: visible;
	position: absolute;
	width: 256px;
	height: 1px;
	left: 2.5px;
	top: 241.5px;
	transform: matrix(1,0,0,1,0,0);
}
.Rectangle_612 {
	filter: drop-shadow(10px 3px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 209px;
	height: 1110px;
	left: 457px;
	top: 0px;
}
.MENU_Class {
	transform: translate(1px, 0px) matrix(1,0,0,1,519,179) rotate(-90deg);
	transform-origin: center;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 55px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -1px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(131,131,131,1);
}
.Cross_Class {
	position: absolute;
	width: 27.5px;
	height: 27.5px;
	left: 533.5px;
	top: 117.5px;
	overflow: visible;
}
.Path_199 {
	overflow: visible;
	position: absolute;
	width: 27.5px;
	height: 27.5px;
	transform: translate(-503.5px, -83.5px) matrix(1,0,0,1,503.5,83.5) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.Path_200_Class {
	opacity: 0.45;
}
.Path_200 {
	overflow: visible;
	position: absolute;
	width: 27.5px;
	height: 27.5px;
	transform: translate(-503.5px, -83.5px) matrix(1,0,0,1,503.5,83.5) rotate(90deg);
	transform-origin: center;
	left: 0px;
	top: 0px;
}
.THEBABYTRUNK_COM_e_Class {
	opacity: 0.8;
	transform: translate(1px, 0px) matrix(1,0,0,1,452,876) rotate(-90deg);
	transform-origin: center;
	position: absolute;
	left: 0px;
	top: 0px;
	overflow: visible;
	width: 189px;
	white-space: nowrap;
	line-height: 20px;
	margin-top: -1px;
	text-align: left;
	font-family: Segoe UI;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	color: rgba(131,131,131,1);
}
.Insta_twitter_FB_Class {
	position: absolute;
	width: 166.915px;
	height: 36px;
	left: 142px;
	top: 1027px;
	overflow: visible;
}
.Twitter___1_Class {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 74px;
	top: 0px;
	overflow: visible;
}
.Rectangle_393 {
	position: absolute;
	overflow: visible;
	width: 36px;
	height: 36px;
	left: 0px;
	top: 0px;
}
.Path_2 {
	overflow: visible;
	position: absolute;
	width: 36px;
	height: 29.2px;
	left: 0px;
	top: 1.999px;
	transform: matrix(1,0,0,1,0,0);
}
.Instagram___1_Class {
	position: absolute;
	width: 36px;
	height: 36px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
.Path_3 {
	overflow: visible;
	position: absolute;
	width: 36px;
	height: 36px;
	left: 0px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}
.Path_1 {
	overflow: visible;
	position: absolute;
	width: 18.8px;
	height: 36px;
	left: 148.115px;
	top: 0px;
	transform: matrix(1,0,0,1,0,0);
}